{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "camelcase": "off",
    'no-plusplus': "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"]
  }
}